/* Changes size of astonaut pic */
#astronaut {
  height: auto;
  width: auto;
}

/* gives formatting to content box */
#textContentGallery {
  margin-bottom: 15px;
  border: 5px solid;
  border-color: #ffa924;
  color: #283758;
  background-color: #95c4fc;
}

.picturesBoxes {
  border: 5px solid;
  border-color: #ffa924;
  color: #283758;
  background-color: #95c4fc;
  border-radius: 15px;
  height: 450px;
  width: 100%;
  
}

h3 {
  text-align: center;
}

#apolloImage,
#moonImage,
#sunImage,
#galaxiesImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: auto;
}




