
* {
    box-sizing: border-box;
}

body {
    background-color:#283758;
}


div#wrapper {
    margin: 10px;
}


#newMoon,
#waxingCrescent,
#firstQuarter,
#waxingGibbous,
#fullMoon,
#waningGibbous,
#thirdQuarter,
#waningCrescent
 {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    width: auto;
  
}



