
* {
    box-sizing: border-box;
}

body {
    background-color:#283758;
}


div#wrapper {
    margin: 10px;
}

#newMoon,
#waxingCrescent,
#firstQuarter,
#waxingGibbous,
#fullMoon,
#waningGibbous,
#thirdQuarter,
#waningCrescent
 {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    width: auto;
  
}

#todaysMoon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: auto;
  
}
#todaysMoonBox
{
    border: 5px solid;
    border-color: #ffa924;
    background-color: #95C4FC;
    color: #283758;
    border-radius: 15px;
    height: 340px;
    width: 100%;
    
}


@media screen and (min-height: 720px){

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

}