/* styling for entire page */
* {
    box-sizing: border-box;
}
 /* styling for body */
body {
    background-color:#283758;
}

/* added margin to container */
div#wrapper {
    margin: 10px;
}

/* set format for images */
#newMoon,
#waxingCrescent,
#firstQuarter,
#waxingGibbous,
#fullMoon,
#waningGibbous,
#thirdQuarter,
#waningCrescent
 {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    width: auto;
  
}

#todaysMoon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: auto;
  
}

/* set styling for moon of the day box */
#todaysMoonBox
{
    border: 5px solid;
    border-color: #ffa924;
    background-color: #95C4FC;
    color: #283758;
    border-radius: 15px;
    height: 340px;
    width: 100%;
    
}
