* {
    box-sizing: border-box;
}

body {
    background-color:#283758;
}

h1, h2 {
    font-family: 'Bungee', cursive;
    color: #283758;
    background-color: #FFA924 ;
    padding: 8px;
    border-radius: 5px;
}
/*
One Weight reg 400
*/

h3, h4 {
    font-family: 'Amatic SC', cursive;
    font-size:xx-large;
}
/*
One Weight Bold 700
*/

p, h5, h6 {
    font-family: 'Roboto','Open Sans', sans-serif;
    font-size:larger ;
}
/* 
Thin 100
Light 300
Regular 400
Regular 400 italic
Bold 700
Bold 700 italic
*/

#menu {
    background-color: #95C4FC ;
}

#menu a {
    color: #283758;
  }

div#wrapper {
    padding-top: 72px;
}

aside.div-back-bord {
    background-color: #124975;
    border-radius: 5px;
}
div.div-back-bord {
    background-color: #124975;
    border-radius: 5px;
}
div#ranger-rank-title {
    margin: 0 0 14px 0;
}

p.intro{
    background-color: white ;
    border: 5px solid #FA2321;
    border-radius: 5px;
    padding: 5px;
    color: #283758;
    padding: 2px;
}

p.date, p.time {
    border: 5px solid #FFA924;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #95C4FC;
    
}

.buttonStyle {
    border: 5px solid;
    border-color:#FFA924;
}

/* .main-header {
    background-color:#FFA924;
    padding: 10px;
    text-align: center;
} */

h3 {
    margin: 14px 0 ;
}

.headerBox {
    color: #283758;
    background-color: #95C4FC;
    border: 5px solid;
    border-color:#FFA924;
    border-radius: 5px;
}

.picOfTheDay{
    color: #283758;
    background-color: #95C4FC;
    border: 5px solid;
    border-color:#FFA924;
}

#potdIMG {
    width: 600px;
    height: 400px;
}

footer {
    color: #283758;
    background-color: #95C4FC;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 5px solid;
    border-color:#95C4FC;
}

span {
    color: #FA2321;
  }

  #headerText div {
    background-color:#FFA924;
  }

  #seg4, #seg5, #seg6, #seg7 {
    background-color:#95C4FC;
  }

 #seg3 {
    background-color:#124975;
}

#seg4, #seg6 {
    border: 5px red solid;
}

#seg2, #seg3, #seg5, #seg7  {
    border: 5px #FFA924 solid;
}

#seg6 {
    border: 5px #124975 solid;
}
